@font-face {
    font-family: Accuratist;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url(../fonts/Accuratist.ttf) format("ttf");
}
@media (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }
}
body,
html {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden !important;
}
body {
    font-family: Accuratist !important;
    font-weight: 400;
    color: #fff;
    background: #0f0f0f;
    position: relative;
    padding: 0;
    padding-right: 0 !important;
    margin: 0;
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(../images/bg.png);
}
a {
    text-decoration: none !important;
    color: inherit !important;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.header .header-col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.header .header-logo {
    width: 48px;
    height: 45px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/logo.png);
}
.header .header-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-align: left;
    line-height: normal;
    margin-left: 10px;
}
.header .header-posttitle {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #0f0f0f;
    text-align: left;
    line-height: normal;
    padding: 5px 10px 5px 9px;
    border-radius: 8px;
    background: #437fff;
}
.header .header-version {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 8px;
    background: #ffffff26;
    padding: 9px;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
}
.footer .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
}
.footer .footer-content .footer-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.footer .footer-content .footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.footer .footer-content .footer-socials .socials__item {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 250ms ease;
}
.footer .footer-content .footer-socials .socials__item:hover {
    opacity: 0.85;
}
.footer .footer-content .footer-socials .socials__item.gplay {
    background-image: url(../images/gplay.svg);
}
.footer .footer-content .footer-socials .socials__item.youtube {
    background-image: url(../images/youtube.svg);
}
.footer .footer-content .footer-socials .socials__item.discord {
    background-image: url(../images/discord.svg);
}
.footer .footer-content .footer-socials .socials__item.github {
    background-image: url(../images/github.svg);
}
.footer .footer-content .footer-text {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    text-align: left;
    line-height: normal;
}
.main-wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main-wrapper .welcome-content {
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    padding: 65px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.main-wrapper .welcome-content::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 40px;
    bottom: 0;
    width: 400px;
    height: 600px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(../images/render.png);
}
.main-wrapper .welcome-content .welcome-download {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 691px;
}
.main-wrapper .welcome-content .welcome-download .download-title {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-align: left;
    line-height: normal;
}
.main-wrapper .welcome-content .welcome-download .download-subtitle {
    margin: 0;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    line-height: normal;
}
.main-wrapper .welcome-content .welcome-download .download-button {
    margin-top: 50px;
    outline: 0;
    border: none;
    border-radius: 20px;
    background: #437fff;
    padding: 35px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background 250ms ease;
}
.main-wrapper .welcome-content .welcome-download .download-button:hover {
    background: #fff;
}
.main-wrapper .welcome-content .welcome-download .download-button > p {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: #000;
    text-align: center;
    line-height: normal;
}
.main-wrapper .welcome-content .welcome-download .download-button > .icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/icons/download.svg);
}
@media (max-width: 767px) {
    body {
        background-size: contain;
        background-image: url(../images/background-m.webp);
    }
    .header {
        gap: 5px;
    }
    .header .header-logo {
        width: 37px;
        height: 35px;
    }
    .header .header-title {
        font-size: 17px;
        margin-left: 6px;
    }
    .header .header-posttitle {
        font-size: 11px;
    }
    .header .header-col.version {
        order: 3;
        width: 100%;
        margin-top: 15px;
    }
    .header .header-version {
        width: 100%;
        font-size: 13px;
        border-radius: 10px;
        padding: 11px;
    }
    .header .header-languages {
        gap: 10px;
    }
    .header .header-languages .languages__item {
        font-size: 12px;
    }
    .footer {
        padding-bottom: 61px;
    }
    .footer .footer-content {
        gap: 50px;
    }
    .footer .footer-content .footer-socials {
        width: 100%;
        justify-content: center;
    }
    .main-wrapper .welcome-content {
        padding: 24px 22px;
    }
    .main-wrapper .welcome-content::after {
        display: none;
    }
    .main-wrapper .welcome-content .welcome-download {
        margin-top: 30px;
        align-items: center;
        width: 100%;
    }
    .main-wrapper .welcome-content .welcome-download .download-title {
        font-size: 20px;
        text-align: center;
    }
    .main-wrapper .welcome-content .welcome-download .download-subtitle {
        margin-top: 9px;
        font-size: 12px;
        text-align: center;
    }
    .main-wrapper .welcome-content .welcome-download > a {
        width: 100%;
    }
    .main-wrapper .welcome-content .welcome-download .download-button {
        width: 100%;
        min-height: 81px;
        margin-top: 30px;
        border-radius: 15px;
        padding: 20px;
        gap: 10px;
    }
    .main-wrapper .welcome-content .welcome-download .download-button > p {
        font-size: 1rem;
    }
    .main-wrapper .welcome-content .welcome-download .download-button > .icon {
        width: 23px;
        height: 23px;
    }
}
