:root {
  --font_family: 'Inter', sans-serif;

  --font_size: 16px;

  --background_color: #000;
  --background_image: url("../img/wallpaper.png");

  --image_border_color: #001550;
  --image_border_px: 3px;

  --image_width: 140px;
  --image_height: 140px;

  --title_color: #fff;
  --description_color: #fff;

  --button_background_color: #000c50;
  --button_text_color: #fff;
  --button_text_hover_color: #2c2cbe;

  --textarea_background_color: #000c50;
  --textarea_text_color: #fff;
  --textarea_link_text_color: #2c2cbe;

  --footer_background_color: #000c50;
  --footer_text_color: #fff;
  --footer_link_text_color: #2c2cbe;
}

body {
  font: var(--font_size) var(--font_family);
  font-weight: 400;
  line-height: 1.5;
  background: var(--background_color) var(--background_image) no-repeat center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex_row_center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex_no_wrap_row_center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.header_img {
  padding-top: 1em;
}

.header_img img {
  height: var(--image_height);
  width: var(--image_width);
  border: var(--image_border_px) solid var(--image_border_color);
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.header_text h1 {
  color: var(--title_color);
  font-size: 2em;
}

.header_text h2 {
  color: var(--description_color);
  font-size: 1.5em;
}

main {
  margin-bottom: auto;
}

#main_section_container_2, #main_section_container_3 {
 display: none;
}

.main_a_item {
  margin-top: 1em;
  text-decoration: none;
}

.main_text_item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  width: 41em;
  margin-top: 1em;
  padding: 0.8em;
  border-radius: 0.3em;
  min-height: 3.7em;
  text-align: center;
}

.main_button_item {
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  width: 41em;
  border-radius: 1em;
  min-height: 3.7em;
  text-align: center;
  cursor: pointer;
}

.main_small_button_list {
  display: flex;
  flex-direction: row;
}

.main_small_a_item {
  margin-top: 1em;
  text-decoration: none;
}

.main_small_a_item + .main_small_a_item {
  margin-left: 10px;
}

.main_small_button_item:hover,
.main_button_item:hover {
  color: var(--button_text_hover_color);
  transform: scale(1.02);
  transition: 0.10s ease;
}

.main_small_button_item {
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  width: calc(41em / 2 - 5px);
  border-radius: 1em;
  min-height: 3.7em;
  text-align: center;
  cursor: pointer;
}

/* Footer Codes */

.footer_div_item {
  color: var(--footer_text_color);
  background: var(--footer_background_color);
  padding: 1em;
  margin-top: 1.5em;
}

.footer_a_item {
  color: var(--footer_link_text_color);
  text-decoration: none;
}

/* Responsive Codes */

@media (max-width: 768px) { 
  .main_text_item {
    width: 92vw;
  }

  .main_small_button_item {
    width: calc(92vw / 2 - 5px);;
  }

  .main_button_item {
    width: 92vw;
  }
}
